<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ONEiO FizzBuzz Game</title>
</head>
<body>
	<h1>Welcome to the ONEiO FizzBuzz Game!</h1>
	<p>
		<br>Please enter your number(s) below. <br>Separate the
		numbers using semicolons. <br>When ready press the FizzBuzz
		button.
	</p>
	<p style="color: red;" th:text="${error}"></p>
	<p style="color: red;" th:text="${retry}"></p>
	<form th:action="@{/fizzbuzz}" method="post">
		<input type="text" placeholder="Example input: 1;2;3;" name="content" />
		<input type="submit" value="FizzBuzz!" />
	</form>
</body>
</html>